<section class="search">
  <div class="container">
    <form>
      <div class="form-group">
        <input class="form-control" type="search" placeholder="Search"/>
      </div>
    </form>
  </div>
</section>

<section class="lead">
  <div class="container">
  <img src="public/img/coa/coa.png" class="img-responsive logo">
  <h1>Ministry of Economic Growth <br>and Job Creation</h1>
  <p>Achieving prosperity through partnership, economic <br/>
    growth and sustainable development</p>

    <iframe class="pull-right" width="360" height="203" style="margin-top:-190px"
            src="https://www.youtube.com/embed/uPOLqrR8El8?rel=0&amp;controls=0&amp;showinfo=0"
            frameborder="0" allowfullscreen>
    </iframe>
  </div>
</section>

<section class="color-strip-mustard">
  <div class="container">
  </div>
</section>

<section class="content-block latest-news">
      <div class="container">
        <h2>Latest News</h2>
       <div class="row">
         <div class="col-md-4 col-sm-4 news-item" ng-repeat="news in vm.latest_news">
           <img ng-src="{{news.img}}">
           <a ng-href="#!/lastest-news/{{news.slug}}">{{news.title}}</a>
         </div>
       </div>

       <div class="row text-center">
         <a class="btn btn-lg more-btn" href="#!/lastest-news" ng-if="vm.latest_news > 3">More</a>
       </div>
      </div>
</section>

<section class="color-strip-blue">
  <div class="container"></div>
</section>

<section class="content-block departments">
  <div class="container">
    <h2>Portfolio Areas & Agencies</h2>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <ul>
          <li><a href="#!/redirect?url=http://www.agroinvest.gov.jm/">Agro Investment Corporation</a></li>
          <li><a href="#!/redirect?url=http://www.portjam.com">Boundbrook Wharves Development Co. Ltd</a></li>
          <li><a href="#!/redirect?url=http://www.udcja.com/">Caymanas Development Company</a></li>
          <li><a href="#!/redirect?url=http://www.our.org.jm">Central Wastewater Treatment Ltd (CWTL)</a></li>
          <li><a href="#!/redirect?url=http://csc.gov.jm">Commission of Strata Corporation (CSC)</a></li>
          <li><a href="#!/redirect?url=http://dbankjm.com/">Development Bank of Jamaica</a></li>
          <li><a href="#!/redirect?url=http://www.efj.org">Environmental Foundation of Jamaica</a></li>
          <li><a href="#!/redirect?url=http://www.factoriesjamaica.com/">Factories Corporation of Jamaica</a></li>
          <li><a href="#!/redirect?url=http://www.forestry.gov.jm">Forestry Department</a></li>
          <li><a href="#!/redirect?url=http://hajl.gov.jm">Housing Agency of Jamaica (HAJ)</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
        <ul>
          <li><a href="#!/redirect?url=http://www.portjam.com">Jamaica International Freezone Co. Ltd</a></li>
          <li><a href="#!/redirect?url=http://www.jmb.gov.jm/">Jamaica Mortgage Bank (JMB)</a></li>
          <li><a href="#!/redirect?url=http://www.tradeandinvestjamaica.org">Jamaica Promotions Corporation (JAMPRO)</a></li>
          <li><a href="#!/redirect?url=http://www.lampja.com">Land Administration and Management Programme (LAMP)</a></li>
          <li><a href="#!/redirect?url=http://mbconventioncentre.com">Montego Bay Conference Centre Limited </a></li>
          <li><a href="#!/redirect?url=http://mbfz-jamaica.com">Montego Bay Freeport Limited (MBF) </a></li>
          <li><a href="#!/redirect?url=http://www.mbfz-jamaica.com">Montego Bay Freezone Co. Ltd (MBFZCL)</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
        <ul>
          <li><a href="#!/redirect?url=http://www.nepa.gov.jm">National Environment & Planning Agency (NEPA)</a></li>
          <li><a href="#!/redirect?url=http://www.eximbankja.com/">National Export- Import Bank of Jamaica</a></li>
          <li><a href="#!/redirect?url=">National Hotels and Properties Ltd (NHP)</a></li>
          <li><a href="#!/redirect?url=http://nicjamaica.com">National Irrigation Commission (NIC)</a></li>
          <li><a href="#!/redirect?url=http://www.nla.gov.jm/">National Land Agency (NLA) </a></li>
          <li><a href="#!/redirect?url=http://www.nwa.gov.jm">National Road Operating & Constructing Company (NROCC) </a></li>
          <li><a href="#!/redirect?url=http://www.ncwjamaica.com">National Water Commission (NWC) </a></li>
          <li><a href="#!/redirect?url=http://nwa.gov.jm">National Works Agency (NWA)</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4">
        <ul>
          <li><a href="#!/redirect?url=http://www.udcja.com/">Ocho Rios Commercial Centre Ltd (ORCC)</a></li>
          <li><a href="#!/redirect?url=http://www.pioj.gov.jm/">Planning Institute of Jamaica (PIOJ)</a></li>
          <li><a href="#!/redirect?url=http://www.portjam.com">Port Authority Management Services (PAMS)</a></li>
          <li><a href="#!/redirect?url=http://www.portjam.com">Port Authority of Jamaica</a></li>
          <li><a href="#!/redirect?url=http://www.portjam.com">Ports Management and Security Ltd (PMSL) </a></li>
          <li><a href="#!/redirect?url=http://www.reb.gov.jm">Real Estate Board (REB) </a></li>
          <li><a href="#!/redirect?url=http://www.nwa.gov.jm">Road Maintenance Fund (RMF) </a></li>
          <li><a href="#!/redirect?url=http://www.rwslja.com">Rural Water Supply Limited (RWSL) </a></li>
          <li><a href="#!/redirect?url=http://www.udcja.com/">Seaside at Rose Hall Development Ltd (SRH) </a></li>
        </ul>
      </div>

      <div class="col-md-4 col-sm-4">
        <ul>
          <li><a href="#!/redirect?url=http://www.udcja.com/">St. Ann Development Company (SADC)</a></li>
          <li><a href="#!/redirect?url=http://statinja.gov.jm/">Statistical Institute of Jamaica (STATIN)</a></li>
          <li><a href="#!/redirect?url=http://www.udcja.com/">Urban Development Corporation</a></li>
          <li><a href="#!/redirect?url=http://www.wra.gov.jm">Water Resources Authority (WRA)</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4"></div>
    </div>
  </div>
</section>

<section class="color-strip-gray">
  <div class="container"></div>
</section>

<section class="content-block services">
  <div class="container">
    <h2>Services</h2>
    <div class="row">
      <div class="col-md-3 col-sm-3 service">
        <img class="img-responsive" src="public/img/services/library.jpg"/>
        <a href="#!/redirect?url=http://www.questionpoint.org/crs/servlet/org.oclc.admin.BuildForm">Ask a Librarian</a>
        <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
        <p>Request books and other publications from our library</p>
      </div>
      <div class="col-md-3 col-sm-3 service">
        <img class="img-responsive" src="public/img/services/access.jpg"/>
        <a href="#!/redirect?url=http://amandaweb.nepa.gov.jm/AMANDA5/eNtraprise/Jamaica/public/public_query.jsp">Access AMANDA</a>
        <p>
          Track building plans
        </p>
      </div>
      <div class="col-md-3 col-sm-3 service">
        <img class="img-responsive" src="public/img/services/rent.jpg"/>
        <a href="#!/divisions/rent-services-unit">Rent Services Unit</a>
        <p>
          Know your rights as a landlord or tenant
        </p>
      </div>
      <!-- <div class="col-md-3 col-sm-3 service">
        <img class="img-responsive" src="public/img/accesstoinfo.jpg"/>
        <a href>Access to Information</a>
        <p>
          Request documents under the Access To Information Act
        </p>
      </div> -->
    </div>
    <!-- <div class="row text-center">
      <button class="btn btn-lg">More</button>
    </div> -->
  </div>
</section>

<section class="color-strip-white">
    <div class="container"></div>
</section>

<section class="content-block events">
  <div class="container">
    <h2><a href="#!/events" style="color:#FFFFFF">Events</a></h2>
    <div class="row">
      <div class="col-md-4 ad" ng-repeat="event in vm.events | limitTo: 3">
        <a ng-href="/docs/events/{{event.link}}" style="color:#FFFFFF" target="_blank">
          <img ng-src="public/img/ads/{{event.img}}.jpg" />
          <p style="margin-bottom:0">{{event.title}}</p>
        </a>
        <span><strong>{{event.date}}</strong></span>
      </div>

      <div class="row text-center">
        <a class="btn btn-lg more-btn-white" href="#!/events" ng-if="vm.events.length > 3">More</a>
      </div>

      </div>
    </div>
  </div>
</section>

<section class="color-strip-gray">
    <div class="container"></div>
</section>

<section class="content-block map">
  <div class="container">
    <h2>Our Location</h2>
    <div style="margin-bottom: 40px" map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJxR0VmBS3AbkdGZZhIV03UhyOsc2GMy8">
        <ng-map center="[18.007867, -76.791292]" zoom="18"></ng-map>
    </div>
  <!-- <hr /> -->
  </div>
</section>

<section class="color-strip-mustard">
<div class="container"></div>
</section>
