
<div class="color-strip-mustard">
  <div class="container">

  </div>
</div>
<div class="container">
  <section style="height:auto; min-height:350px;padding-top:60px;" class="text-center">
    <h3>You are about to leave the <br /> Ministry of Economic Growth and Job Creation</h3>
    <p>
      You will be visiting:
    </p>
    <h4>
      {{vm.path}}
    </h4>

    <div class="form-group" style="margin-top:20px;">
      <button class="btn btn-default" ng-click="vm.goTo(vm.path)">Continue</button>
      <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    </div>
  </section>
</div>
